{% extends 'base.html.twig' %}

{% block title %}Assistant index{% endblock %}

{% block body %}
    <h1>Assistant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fname</th>
                <th>Lname</th>
                <th>NumTel</th>
                <th>Email</th>
                <th>DateNaissance</th>
                <th>Adress</th>
                <th>Privilege</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assistant in assistants %}
            <tr>
                <td>{{ assistant.id }}</td>
                <td>{{ assistant.fname }}</td>
                <td>{{ assistant.lname }}</td>
                <td>{{ assistant.numTel }}</td>
                <td>{{ assistant.email }}</td>
                <td>{{ assistant.dateNaissance ? assistant.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ assistant.adress }}</td>
                <td>{{ assistant.privilege ? assistant.privilege|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_assistant_show', {'id': assistant.id}) }}">show</a>
                    <a href="{{ path('app_assistant_edit', {'id': assistant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assistant_new') }}">Create new</a>
{% endblock %}
