<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    {% if is_granted('ROLE_MED') %}
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
    {% endif %}
    <!-- Heading -->
    <div class="sidebar-heading">
        Pages
    </div>
    {% if is_granted('ROLE_ASSIST') %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path("app_patient_index") }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Patients</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path("app_consultation_index") }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Consultation</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path("app_dossier_medical_index") }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Dossiers medical</span></a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_PAT') %}

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("app_mon_dossier_medical_show") }}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Mon Dossiers medical</span></a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_MED') %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path("app_assistant_index") }}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Assistants</span></a>
        </li>
    {% endif %}


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>


</ul>
<!-- End of Sidebar -->